Converting Data Types

In [2]:
numInt = 7
type(numInt)

int

In [4]:
numStr = '7'
type(numStr)

str

In [7]:
numSum = numInt + int(numStr)

print(numSum)

14

In [11]:
listType=[1,2,3]
print(type(listType))

print( type ( tuple(listType) ) )

<class 'list'>
<class 'tuple'>

In [18]:
listType=[1,2,3,3,3,3,4,4,4,4,4,44,4,5,6,9,87,849,4,4,5,6]
print(type(listType))

print( type ( set(listType) ) )
print(set(listType))

<class 'list'>
<class 'set'>
{1, 2, 3, 4, 5, 6, 9, 44, 849, 87}

In [28]:
dictType={
    'name' : 'Brahmtej',
    'dob' : '05-10-1999',
    'age' : 25
}
print(type(dictType))
print(dictType.items())
print(dictType.values())

print(list(dictType))
print(type(list(dictType)))
print(list(dictType.keys()))
print(list(dictType.items()))
print(list(dictType.values()))

<class 'dict'>
dict_items([('name', 'Brahmtej'), ('dob', '05-10-1999'), ('age', 25)])
dict_values(['Brahmtej', '05-10-1999', 25])
['name', 'dob', 'age']
<class 'list'>
['name', 'dob', 'age']
[('name', 'Brahmtej'), ('dob', '05-10-1999'), ('age', 25)]
['Brahmtej', '05-10-1999', 25]

In [31]:
longStr='my name is Brahmtej'

print(type(longStr))

print(set(longStr))

print(type(set(longStr)))

<class 'str'>
{'i', 'n', 'B', 'j', 'a', 's', 'h', 'm', ' ', 't', 'e', 'y', 'r'}
<class 'set'>